


// Colores
$azul : #110C57;
$verde : #24E06C;
$negro : #000; 
$blanco: #fff;
$cardapple: #BAB2B2;
$cardandroid: #4ECE9B;
$cardnativo:#B10A8A;
$amarillo: #F5FE00;

// Funtes
$fuentePrincipal: 'Roboto', sans-serif;

$delgada: 300;
$regular : 400;
$bold: 700;
$black: 900;

// Tamaño de Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;

$separacion: 5rem;